nav { text-align: right; }

body { width: 580px; }

#review_list { width: 600px; }
.flash { margin-bottom: 30px; width: 300px; }

.login-windows { margin: 0 auto; width: 400px; float: left; }

h1.wordmark { margin-bottom: 10px; color: black; margin-left: 40px; }

#login { width: 180px; 
         float: left;
	 padding-right: 5px;
	 margin-top: 50px; 
	 border-right: 1px solid #cccccc;
label { clear: right; float: left; margin-top: 20px; }
input { margin-bottom: 60px; width: 150px; clear: left; float: left; padding: 5px; }
       }

#register { float: left; margin-left: 20px; width: 180px; margin-top: 50px; 
label { clear: left; float: left; }
input { width: 150px; clear: left; float: left; padding: 5px; }}

input[type="submit"] { clear: left; float: left; margin-top: 20px; width: 180px; }
input[type="text"] { margin-bottom: 10px;}

label { font-weight: bold; }

h3 { font-weight: bold; margin-top: 30px; }

#review {

textarea,
h2,
h3,
input { float: left; clear: left; margin-top: 0px; margin-bottom: 10px; }


textarea,
input { border: 1px solid #cccccc; }

textarea, input[type="text"] { width: 300px; padding: 5px; }
input[type="range"] { width: 250px; }

input[type="submit"] { margin-left: 0px; height: 30px; width: 50px; }

#iValue,
#dValue,
#cValue { font-weight: bold; margin-left: 10px; float: left; } 

 }
